# Entorno virtual
venv/
ENV/
env/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Archivos de Django
db.sqlite3
media/
staticfiles/
*.log

# No subir settings.py
settings.py
*/settings.py

# Archivos de configuraciones sensibles
.env
*.env

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de IDEs
.vscode/
.idea/
*.swp